<h3>{{titulo}}</h3>
<label>Pesquisar: </label>
<input type="text" [(ngModel)]="nomePesquisado">
<br />
<table *ngIf="lista.length > 0">
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>MARCA</th>
        <th>PREÇO</th>
        <th>VALIDADE</th>
        <th>AÇÃO</th>
    </tr>
    <tr *ngFor="let prod of lista | filtroPesquisa:nomePesquisado">
        <td>{{prod.id}}</td>
        <td>{{prod.nome}}</td>
        <td>{{prod.marca | uppercase}}</td>
        <td>{{prod.preco | moeda}}</td>
        <td>{{prod.validade | date:"dd/MM/yyyy"}}</td>
        <td><a routerLink="/edit/{{prod.id}}">Editar</a></td>
        <td><a routerLink="/tabela" (click)="deletar(prod.id)">Deletar</a></td>
    </tr>
</table>
<p *ngIf="lista.length <= 0"> NÃO HÁ PRODUTOS CADASTRADOS! </p>